# 股票基本操作策略

- 选股
    1. 是否是一个好生意？
    2. 自己是否了解或者有能力了解这个行业？
    3. 持有这些股票是否能够接受？
把这些股票代码加入到personal_stock_tickers.yaml

- 区分中期（季）多头与空头行情
    1. 区分股票处于多头行情还是空头行情。使用 20， 60 ，120 均线多头排列和空头排列区分 (mid_term)
    2. 多头行情长期做多，短期做空。 空头行情长期做空，短期做空

- 使用 5，10， 20均线定义短期买入卖出点
    1. 购入之后长期持有股票。只持有处于多头行情的股票。
    2. 多头转空头之后，选择换股。
    2. 利用短期趋势定义买入卖出点。
    3. 使用卖put和卖call的方式操作。

- 使用乖离率（bias）来控制风险
    1. 乖离率定义为偏离60天均线的价格百分比
    2. 比较它和历史上乖离率。进入极端区域时需要小心






